measure_object_size/phone.jpg
measure_object_size/phone_aruco_marker.jpg
.DS_Store
.venv
.vscode
.vscode/*
.vscode/settings.json
.DS_Store
.venv/*
.venv*
venv/
Carte*
Evolution*
Histo*
Evolu*
Fonction*
Traje*
Repart*
measure_object_size/phone.jpg
measure_object_size/phone_aruco_marker.jpg
vitess*
donne*
.vscode/settings.json
Resul*
202*
.env
.spy*
__pycache__
*.png
*.json
*.MOV
