codetiming==1.4.0
ipython==8.30.0
matplotlib==3.10.0
numpy==2.0.2
opencv_python==4.10.0.84
psutil==6.1.0
python-dotenv==1.0.1
Requests==2.32.3
scipy==1.14.1
tqdm==4.67.1
tslearn==0.6.3
wheel==0.45.1
seaborn==0.13.2
